.wapp-bg {
    background-color: #dadbd3;
    height: 750px;
}

.wapp-bar-green {
    background-color: #009688;
    min-height: 100px;
}

.wapp-window {
    min-height: 650px;
    background-color: white;
    position: absolute; 
    left: 0; 
    right: 0;
    top: 20px;
    margin-left: auto; 
    margin-right: auto; 
}

.heighthund {
    height: calc(100vh - 60px);
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-grey {
    background-color: #eaeaea;
}

.bg-lightblue {
    background-color: #8edafc;
    height: 80px;
    padding-left: 20px;
}

.chat {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}

.navbar {
    height: 60px;
}

.font-small {
    font-size: 10px;
}

.font-mid {
    font-size: 12px;
}

.bg-bell {
    background-color: white;
    border-radius: 55%;
    padding: 5px;
}

.text-under {
    text-decoration: underline;
    color: gray;
}

.profile-img {
    height: 50px;
    border-radius: 50%;
}

.padding-bar {
    padding: 0 8px;
}

.message-bar {
    width: 400px;
    border: none;
    margin: 5px 0;
    padding: 8px;
    font-size: 12px;
}

.research-bar {
    margin: 5px;
    padding: 8px;
    font-size: 12px;
    border: 1px solid lightgray;
}

.contact-list {
    padding: 10px;
}

.contact-list:hover {
    background-color: lightgrey;
}

.msg-sent {
    background-color: #d5f9ba;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}

.msg-rec {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}